
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=something==,something==,something==,something==
API_TOKEN_SALT=something==
ADMIN_JWT_SECRET=something==
TRANSFER_TOKEN_SALT=something==
ENCRYPTION_KEY=something==
REFRESH_JWT_SECRET=something==
JWT_SECRET=something==

# Database
DATABASE_CLIENT=postgres
DATABASE_PORT=5432
DATABASE_NAME=base_v5
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false
DATABASE_FILENAME=

#URLs
PRODUCTION_URL="https://strapi.example.com"
FRONTEND_URL="https://example.com"
PREVIEW_SECRET="your-preview-secret"
